# Application
NODE_ENV=development
PORT=3000
LOG_LEVEL=info

# Database
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_password
DB_NAME=democredit

# Auth
JWT_SECRET=change_me

# Adjutor (Lendsqr)
ADJUTOR_API_KEY=your_adjutor_api_key
ADJUTOR_BASE_URL=https://adjutor.lendsqr.com/v2
